<%- include('../views/partials/header.ejs') %>

<div class="top-content">
	<div class="inner-bg">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text">
				<img src="https://s3-us-west-2.amazonaws.com/mcsc-media-library/site-images/logo-horizontal-white.png" alt="logo" />
				<h1><strong>Help Find Me</strong></h1>
			</div>
		</div>
		<div class="row">
			<!-- TWITTER INFORMATION -->
			<div class="col-md-4 form-box">
				<div class="form-top">
					<div class="form-top-left"><h3 class="text-info">Twitter</h3></div>
					<div class="form-top-right"><i class="fa fa-twitter"></i></div>
				</div>
				<div class="form-bottom">
					<div class="row">
						<div class="col social-login" style="text-align:center">
							<% if (user) { %>
								<% if (user.twitter.token) { %>
									<p>
										<% if (user.twitter.profilepic) { %>
											<img src='<%=user.twitter.profilepic%>' /> <br>
										<% } %>
										<% if (user.twitter.displayName) { %>
											<strong>Display name</strong>: <%= user.twitter.displayName %> <br />
										<% } %>
										<% if (user.twitter.username) { %>
											<strong>User Name</strong>: <%= user.twitter.username %> <br />
										<% } %>
									</p>
									<a href="/unlink/twitter" class="btn btn-warning">Remove</a>
									<% } else { %>
										<a href="/connect/twitter" class="btn btn-primary">Connect</a>
									<% } %>
							<% } %>
						</div>
					</div>
				</div>
			</div>	
			
			<!-- INSTAGRAM INFORMATION -->
			<div class="col-md-4 form-box">
				<div class="form-top">
					<div class="form-top-left"><h3 class="text-info">Instagram</h3></div>
					<div class="form-top-right"><i class="fa fa-instagram"></i></div>
				</div>
				<div class="form-bottom">
					<div class="row">
						<div class="col social-login" style="text-align:center">
						<!-- check if the user has this token (is the user authenticated with this social account) -->
						<% if (user) { %>
							<% if (user.instagram.token) { %>
								<p>
									<% if (user.instagram.profilepic) { %>
										<img src=< % "user.instagram.profilepic"%>/><br>
									<% } %>
									<% if (user.instagram.displayName) { %>
										<strong>Display Name</strong>: <%= user.instagram.displayName %><br>
									<% } %>
									<% if (user.instagram.username) { %>
										<strong>Username </strong>: <%= user.instagram.username %><br>
									<% } %>
								</p>
								<a href="/unlink/instagram" class="btn btn-warning">Remove</a>
								<% } else { %>
									<a href="/connect/instagram" class="btn btn-primary">Connect</a>
								<% } %>
							<% } %>		
						</div>
					</div>
				</div>
			</div>	

			<!-- FACEBOOK INFORMATION -->
			<div class="col-md-4 form-box">
				<div class="form-top">
					<div class="form-top-left"><h3 class="text-info">Facebook</h3></div>
					<div class="form-top-right"><i class="fa fa-facebook"></i></div>
				</div>
				<div class="form-bottom">
					<div class="row">
						<div class="col social-login" style="text-align:center">
					<!-- check if the user has this token (is the user authenticated with this social account) -->
					<% if (user) { %>
					<% if (user.facebook.token) { %>
						<p>
							<% if (user.facebook.profilepic) { %>
								<img src=< % "user.facebook.profilepic"%>/><br>
							<% } %>
							<% if (user.facebook.email) { %>
								<strong>Email</strong>: <%= user.facebook.email %> <br />
							<% } %>
							<% if (user.facebook.displayName) { %>
								<strong>Display Name</strong>: <%= user.facebook.displayName %> <br />
							<% } %>
							<% if (user.facebook.name) { %>
								<strong>Name</strong>: <%= user.facebook.name %> <br />
							<% } %>
							<% if (user.facebook.gender) { %>
								<strong>Gender</strong>: <%= user.facebook.gender %> <br />
							<% } %>
							<% if (user.facebook.hometown) { %>
								<strong>Hometown</strong>: <%= user.facebook.hometown.name %> <br />
							<% } %>
							<% if (user.facebook.birthday) { %>
								<strong>Birthdate</strong>: <%= user.facebook.birthday %> <br />
							<% } %>
						</p>

						<a href="/unlink/facebook" class="btn btn-warning">Remove</a>
						<% } else { %>
							<a href="/connect/facebook" class="btn btn-primary">Connect</a>
						<% } %>
					<% } %>
						</div>
					</div>
				</div>
			</div>	

		</div>
	</div>

	</div>
</div>

<%- include('../views/partials/footer.ejs') %>